:root {
	--container-width: 1207px;
	--container-padding: 15px;

	--font-family: "Montserrat", sans-serif;
  	--second-family: "Tsarevich", sans-serif;

	--font-titles: var(--second-family);
	--font-text: var(--font-family);

	--page-bg: #fff;
	--text-color: #000;
	--accent: #d71d3a;
	--link-color: #f1e8c5;

	--grad: #744adc;
	--yellow: #ffc20e;
	--w: #fff;
	--bl: #000;
	--color-1: #f37232;
	--color-2: #b4c935;
	--color-3: #f79754;
	--2025-1: #f1e8c5;
	--2025-2: #d71d3a;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}