.btn-main{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 403px;
    width: 100%;
    height: 78px;
    margin: 185px auto 0 auto;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    line-height: 104%;
    text-transform: uppercase;

    border-radius: 49px;
    color: var(--link-color);
    background: var(--accent);
}