.main{
    position: relative;
    overflow: hidden;
}
.concept {
    padding: 48px 0 58px 0;
    position: relative;
}
.concept .container{
    position: relative;
}
.concept .header--burger{
    width: 86px;
    height: 86px;
    cursor: pointer;
    position: absolute;
    top:32px;
    right: 60px;
}
.concept--img {
    max-width: 424px;
    max-height: 181px;
}
.concept--main-title {
    text-align: center;
    margin-bottom: 30px;
}
.concept--title {
    text-align: center;
    margin-bottom: 8px;
}
.concept--descr{
    text-align: center;
}
.concept--margin{
    margin-bottom: 25px;
}
.concept--end{
    margin-bottom: 45px;
}
.concept--where{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 79px;
}
.concept--line {
    width: 100%;
    height: 167px;
    background: url('../../img/section/concept/line.png') center center /cover no-repeat;
    margin-bottom: 58px;
}

.buy--ticket{
    background: url('../../img/section/concept/bg-buy.png') center center /contain no-repeat;
    z-index: 4;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 117%;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-beige);

    width: 300px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:28px;
    left:95px;
    span{
        max-width: 145px;
        display: inline-block;
    }
}
.fixed { 
  position: fixed; 
  top: 28px;
}
.concept--top-img{
    background: url('../../img/section/concept/concept-top.png') center center /cover no-repeat;
    width: 296px;
    height: 174px;
    position: absolute;
    top: 61px;
    right: 271px;
    left: 63%;
}

.concept--img-bot-left{
    background: url('../../img/section/concept/concept-left-bot.png') center center /cover no-repeat;
    width: 267px;
    height: 256px;
    position: absolute;
    bottom: -67px;
    left: -10%;
    right: 90%;
}

.concept--img-bot-right{
    background: url('../../img/section/concept/concept-right-bot.png') center center /cover no-repeat;
    width: 197px;
    height: 208px;
    position: absolute;
    bottom: -26px;
    right: 20%;
}

@media (max-width:1400px) {
    .concept--top-img{
        width: 140px;
        height: 83px;
    }
    .concept--img-bot-left{
        width: 119px;
        height: 119px;
        left: 3%;
        bottom:0;
    }
    .concept--img-bot-right{
        width: 65px;
        height: 69px;
        bottom: 13%;
        right: 29%;
        left:68%;
    }
    .buy--ticket{
        width: 150px;
        height: 150px;
        z-index: 3;
        font-size: 20px;
        left: 25px;
    }
}
@media (max-width:768px) {
    .concept{
        padding: 27px 0 20px 0;
    }
    .buy--ticket{
        display: none;
    }
    .concept .header--burger{
        display: none;
    }
    .concept--img{
        width: 186px;
        height: 79px;
    }
    .concept--top-img{
        top: 5px;
        left: 60%;
    }
    .concept--main-title{
        font-size: 49px;
        max-width: 329px;
        margin:0 auto 5px auto;       
    }
    .h3{
        font-size: 30px;
    }
    .concept .text-main{
        font-size: 15px;
        line-height: 133%;
    }
    .concept--end{
        margin-bottom: 19px;
    }
    .concept--img-bot-left{
        bottom: auto;
        top:2%;
        left: -5px;
        right: auto;
    }
    .concept--img-bot-right {
        bottom: 9%;
        right: 29%;
        left: 75%;
    }
    .concept--where{
        margin-bottom: 15px;
    }
    .concept--line{
        height: 94px;
        margin-bottom: 0px;
    }
}