.footer {
    background: var(--accent);
    padding: 143px 0 98px 0;
    position: relative;
    &::before{
        content: "";
        background: url('../../img/section/footer/footer-uzor.png') center center /cover no-repeat;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        width: 100%;
        height: 19px;
    }
}
.footer--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
}
.footer--left {
    display: flex;
    align-items:center;
    column-gap: 53px;
}
.footer--logo {
    max-width: 232px;
    max-height: 25px;
}
.footer--list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 345px;
    column-gap: 63px;

}
.footer--item {
    min-width: 141px;
    text-align: left;
}
.footer--link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 300%;
    text-transform: uppercase;
    color: var(--text-beige);
}
.footer--title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 225%;
    text-transform: uppercase;
    color: var(--text-beige);
    margin-bottom: 16px;
}
.footer--socials {
    display: flex;
    justify-content: space-between;
    max-width: 98px;
}

@media (max-width: 768px) {
    .footer{
        padding: 35px 0 62px 0;
    }
    .footer--wrapper{
        flex-direction: column;
        row-gap: 7px;
    }
    .footer--left{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 12px;
    }
    .footer::before{
        height: 22px;
    }
    .footer--item{
        min-width: 0;
    }
}
